<section>
    <div class="form-login">
        <form class="form-card form-card-login" (ngSubmit)= "onSubmit()">
            <div class="align-texts">
                <h2 class="login-text">login</h2>
                <h2>***</h2>
            </div>
            <input class="form-input" type="email" [(ngModel)] = "email" name="email" placeholder="Email" required>
            <input class="form-input" type="password" [(ngModel)] = "password" name="password" type="password" placeholder="Constraseña" required>
            @if (finalError()) {
                <div class="error-message">{{ finalError() }} </div>
            }
            
            <div class="button-center">
                <button class="form-button" type="submit">Iniciar Sesion</button>
            </div>
            
            <div class="form-text">
                <h5><a routerLink="/register" routerLinkActive="active" (click)="clearError()">Registrate aqui</a></h5>
            </div>

            <div class="button-center">
                <button class="form-button form-button-autologin" (click)="autoLogin()" type="button">inicio rapido</button>
                <button class="form-button form-button-autologin" (click)="autoLogin()" type="button">inicio rapido</button>
                <button class="form-button form-button-autologin" (click)="autoLogin()" type="button">inicio rapido</button>
            </div>
        </form>
    </div>
</section>