<section>
    <div class="form-login">
        <form class="form-card form-card-login">
            <div class="align-texts">
                <h2 class="login-text">login</h2>
                <h2>***</h2>
            </div>
            <input class="form-input" type="email"  name="email" placeholder="Email" required>
            <input class="form-input" type="password"  name="password" type="password" placeholder="Constraseña" required>
            
            
            <div class="button-center">
                <button class="form-button" type="submit">Iniciar Sesion</button>
            </div>
            
            <div class="form-text">
                <h5><a routerLink="/register" routerLinkActive="active">Registrate aqui</a></h5>
            </div>

            <div class="button-center">
                <button class="form-button form-button-autologin" type="button">inicio rapido</button>
                <button class="form-button form-button-autologin" type="button">inicio rapido</button>
                <button class="form-button form-button-autologin" type="button">inicio rapido</button>
            </div>
        </form>
    </div>
</section>