<div class="content-button-back">
  <a class="button-back" routerLink="/home">
    <span class="arrow">←</span>
    <span>Volver</span>
  </a>
</div>

<div class="hangman-container">
    <div class="top-bar">
        <div class="lives-box">
            {{lives}} vidas
        </div>
</div>
    <div class="hangman-drawing">
        <div class="gallows-base"></div>
        <div class="gallows-pole"></div>
        <div class="gallows-top"></div>
        <div class="gallows-rope"></div>

        @if (lives <= 5) { <div class="man-head"></div> }
        @if (lives <= 4) { <div class="man-body"></div> }
        @if (lives <= 3) { <div class="man-arm-left"></div> }
        @if (lives <= 2) { <div class="man-arm-right"></div> }
        @if (lives <= 1) { <div class="man-leg-left"></div> }
        @if (lives <= 0) { <div class="man-leg-right"></div> }
    </div>

    @if (lives <= 0) {
        <div class="status lose">
            <h2>PERDISTE</h2>
            <p>La palabra era:</p>
            <strong>{{secretWord}}</strong>
        </div>
    }
    @if (!secretWordArray.includes('_')) {
        <div class="status win">
            <h2>GANASTE</h2>
        </div>
    }
    <div class="reset-container">
        <button class="reset-button" (click)="resetGame()">
            Reiniciar
        </button>
    </div>
    <div class="word-container">
        @for(sript of secretWordArray; track $index){
            <button class="button-letter-sript">
                {{sript}}
            </button>
        }
    </div>
    <div class="for">
        @for(letter of ArrayLetter; track $index){
            <button
                class="button-letter"
                [disabled]="usedLetters.has(letter) || gameOver"
                (click)="sendValue(letter.valueOf())"
            >
                {{letter}}
            </button>
        }
    </div>
</div>