nav {

    width: 100%;

    display: flex;
    justify-content: center;
    gap: 40px;

    padding: 25px;

    background: rgba(0,0,0,0.3);

    backdrop-filter: blur(10px);

    border-bottom: 1px solid rgba(255,255,255,0.08);
}

nav a {

    font-size: 1.1rem;

    font-weight: 600;

    position: relative;
}

nav a::after {

    content: '';

    position: absolute;

    left: 0;
    bottom: -8px;

    width: 0%;
    height: 2px;

    background: #8b5cf6;

    transition: 0.3s;
    transition: var(--transition);
}

nav a:hover::after {

    width: 100%;
}

.active {

    color: #a855f7;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-routes div{
    display: flex;
    gap: 55px;
}

.form-button-logout{
    padding: 10px;
    background-color: rgb(69, 6, 129);
    width: 100%;
    box-shadow: 0 0 15px rgba(139,92,246,0.5);
    border: 1px solid #8b5cf6;
}

.form-button-logout:hover{
    background-color: #8b5cf6;
}