<div class="home-container">
    <div class="form-card-home">
        <img  class="form-card-home-img" src="https://previews.123rf.com/images/frender/frender1609/frender160902274/62631422-question-cube-3d-illustration-isolated-on-white-background.jpg" alt="preguntados">
        <p class="game-text">preguntados</p>
        <p class="form-card-description">Poné a prueba tus conocimientos respondiendo preguntas de distintas categorías. 
        Cuantas más respuestas correctas obtengas, mayor será tu puntuación final.</p>
        <a class="home-link" routerLink="/games/quiz" >Acceder</a>
    </div>
    
    <div class="form-card-home">
        <img  class="form-card-home-img" src="https://t4.ftcdn.net/jpg/00/09/84/41/360_F_9844124_G4i7TndeWyEFDLlrqbhlytQXMKQKySr5.jpg" alt="mayor/menor">
        <p class="game-text">mayor y menor</p>
        <p class="form-card-description">Intentá adivinar si la próxima carta será mayor o menor que la actual. 
        Encadená aciertos consecutivos y conseguí la mejor racha posible.</p>
        <a class="home-link"  routerLink="/games/greater-or-lesser" >Acceder</a>
    </div>
    
    <div class="form-card-home">
        <img  class="form-card-home-img" src="https://st2.depositphotos.com/5485596/8571/v/450/depositphotos_85710850-stock-illustration-hangman-doodle.jpg" alt="ahorcado">
        <p class="game-text">ahorcado</p>
        <p class="form-card-description">Descubrí la palabra oculta letra por letra antes de quedarte sin intentos. 
            Cada error acerca más al jugador a perder la partida.</p>
        <a class="home-link" 
        routerLink="/games/hanged" >Acceder</a>
    </div>
    
    <div class="form-card-home">
        <img  class="form-card-home-img" src="https://i.pinimg.com/736x/13/94/d3/1394d3bc368ecca9ae8b02cb91e073bf.jpg" alt="juegoPropio">
        <p class="game-text">Viceversa</p>
        <p class="form-card-description">El juego dibuja una palabra invertida. Tu objetivo consiste en escribir la palabra correcta mirando cómo termina la palabra invertida. Vas a tener poco tiempo, así que deberás ser rápido a la hora de escribir. Si lo haces bien, la dificultad va a ir en aumento, pero al contrario, si tu habilidad no es lo suficientemente buena...</p>
        <a class="home-link"  routerLink="" >Acceder</a>
    </div>
    
    <div class="form-card-home">
        <img  class="form-card-home-img" src="https://static.vecteezy.com/system/resources/previews/006/819/764/non_2x/icons-for-theme-games-icon-set-white-background-vector.jpg" alt="Listado">
        <p class="game-text">Listado de resultados</p>
        <p class="form-card-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio voluptate, quam excepturi voluptatibus laudantium expedita, nihil earum consequatur facere blanditiis fuga nostrum aspernatur? In officia, accusantium vero vitae veritatis dicta.</p>
        <a class="home-link"  routerLink="" >Acceder</a>
    </div>
</div>