<div class="page-container">
    <section class="profile-card">

        @if (user(); as currentUser) {
            <div class="profile-image-container">
                <img [src]="currentUser.avatarUrl" alt="Foto de perfil" class="profile-image">
            </div>

            <h1>{{ currentUser.name }}</h1>
            <p class="subtitle">Desarrollador</p>

            <div class="info-container">

                <div class="info-item">
                    <span class="label">ID de Usuario</span>
                    <span class="value">{{ currentUser.id }}</span>
                </div>

                <div class="info-item">
                    <span class="label">Ubicación</span>
                    <span class="value">{{ currentUser.location }}</span>
                </div>

                <div class="info-item">
                    <span class="label">Repositorios</span>
                    <span class="value">{{ currentUser.repos }}</span>
                </div>

                <div class="info-item">
                    <span class="label">Miembro desde</span>
                    <span class="value">
                        {{ currentUser.createdAt | date:'dd/MM/yyyy' }}
                    </span>
                </div>

            </div>
        }

    </section>
</div>

<div class="page-container game-card">
    <section class="profile-card">
        <div>
            <img class="profile-image" src="https://i.pinimg.com/736x/13/94/d3/1394d3bc368ecca9ae8b02cb91e073bf.jpg" alt="">
        </div>
        <div>
            <h3>Viceversa</h3>
            <p>Francisco Salceek - 2026</p>
            <p>Sala de juegos Programación IV</p>
        </div>
        <div class="game-explanation">
            <p>El juego dibuja una palabra invertida. Tu objetivo consiste en escribir la palabra correcta mirando cómo termina la palabra invertida. Vas a tener poco tiempo, así que deberás ser rápido a la hora de escribir. Si lo haces bien, la dificultad va a ir en aumento, pero al contrario, si tu habilidad no es lo suficientemente buena...</p>
        </div>

        <div>

            <button class="form-button form-button-logout">Jugar</button>
        </div>

    </section>
</div>

