<section class="section-form">
    <div class="form-card">
        <div class="form-title">
            <h4>Registro de usuario</h4>
        </div>
        <form class="form-login" >
            <input class="form-input"name="name"  placeholder="Nombre"  type="text" id="nombre" required>

            <input class="form-input" name="lastName"  placeholder="Apellido"  type="text" id="apellido" required>

            <input class="form-input"name="age"  placeholder="Edad"  type="text" id="edad" required>

            <input class="form-input"name="email"  placeholder="Email"  type="text" id="constraseña" required>

            <input class="form-input"name="password"  placeholder="Constraseña"  type="password" id="constraseña" required>
            
            <div class="button-center">
                <button class="form-button" type="submit">Registrarse</button> 
            </div>
        </form>
    </div>
</section>