<section class="section-form">
    <div class="form-card">
        <div class="form-title">
            <h4>Registro de usuario</h4>
        </div>
        <form class="form-login" (ngSubmit) = "onSubmit()">
            <input class="form-input" [(ngModel)]= "name" name="name"  placeholder="Nombre"  type="text" id="nombre" required>

            <input class="form-input" [(ngModel)]= "lastName" name="lastName"  placeholder="Apellido"  type="text" id="apellido" required>

            <input class="form-input" [(ngModel)]= "age" name="age"  placeholder="Edad"  type="text" id="edad" required>

            <input class="form-input" [(ngModel)]= "email" name="email"  placeholder="Email"  type="text" id="constraseña" required>

            <input class="form-input" [(ngModel)]= "password" name="password"  placeholder="Constraseña"  type="password" id="constraseña" required>

            @if (showError()) {
                <div class="error-message">{{ showError() }} </div>
            }
            
            <div class="button-center">
                <button class="form-button" type="submit">Registrarse</button> 
            </div>
        </form>
    </div>
</section>