<section class="section-form">
    <div class="form-card">
        <div class="form-title">
            <h4>Registro de usuario</h4>
        </div>
        
        <form class="form-login" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
            
            <div>
                <input class="form-input" [(ngModel)]="name" name="name" #nameModel="ngModel" placeholder="Nombre" type="text" id="nombre" required>
                @if ((nameModel.invalid && nameModel.touched) || (registerForm.submitted && nameModel.invalid)) {
                    <small class="error-text">El nombre es obligatorio.</small>
                }
            </div>

            <div>
                <input class="form-input" [(ngModel)]="lastName" name="lastName" #lastNameModel="ngModel" placeholder="Apellido" type="text" id="apellido" required>
                @if ((lastNameModel.invalid && lastNameModel.touched) || (registerForm.submitted && lastNameModel.invalid)) {
                    <small class="error-text">El apellido es obligatorio.</small>
                }
            </div>

            <div>
                <input class="form-input" [(ngModel)]="age" name="age" #ageModel="ngModel" placeholder="Edad" type="text" id="edad" required>
                @if ((ageModel.invalid && ageModel.touched) || (registerForm.submitted && ageModel.invalid)) {
                    <small class="error-text">La edad es obligatoria.</small>
                }
            </div>

            <div>
                <input class="form-input" [(ngModel)]="email" name="email" #emailModel="ngModel" placeholder="Email" type="email" id="email" required email>
                @if ((emailModel.invalid && emailModel.touched) || (registerForm.submitted && emailModel.invalid)) {
                    <small class="error-text">
                        @if (emailModel.errors?.['required']) { El email es obligatorio. }
                        @if (emailModel.errors?.['email']) { El formato de email no es válido. }
                    </small>
                }
            </div>

            <div>
                <input class="form-input" [(ngModel)]="password" name="password" #passwordModel="ngModel" placeholder="Contraseña" type="password" id="password" required minlength="6">
                @if ((passwordModel.invalid && passwordModel.touched) || (registerForm.submitted && passwordModel.invalid)) {
                    <small class="error-text">
                        @if (passwordModel.errors?.['required']) { La contraseña es obligatoria. }
                        @if (passwordModel.errors?.['minlength']) { Debe tener al menos 6 caracteres. }
                    </small>
                }
            </div>

            @if (showError()) {
                <div class="error-messageServer">{{ showError() }}</div>
            }
            
            <div class="button-center">
                <button class="form-button" type="submit">Registrarse</button> 
            </div>
        </form>
    </div>
</section>